.form-group {
    margin-bottom: 1.25em;
    width: 100%;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin-bottom: 1em;
    height: auto;
    width: 100%;
}

form {
    width: 100%;
}

.hero-content {
    max-width: 1280px;
    justify-content: center;
    display: flex;
}

.preview {
    max-width: 30em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    width: 100%;
    max-width: 30em;
}

.button {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
}

textarea {
    resize: none;
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-color: #e2e2e2;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
