.form-group {
    margin-bottom: 1.25em;
    width: 100%;
}

.login_deg {
    justify-content: center;
    display: flex;
}

h1 {
    text-align: center;
}

.btn {
    width: 100%;
}

.register a {
    color: #1e1e1e;
    font-weight: 600;
}

.register {
    margin-top: 20px;
    text-align: center;
}

.register a:hover {
    color: #ffc107;
}

.forget {
    display: flex;
    justify-content: space-between;
}

.forget a {
    color: #1e1e1e;
    font-weight: 600;
}

.forget a:hover {
    color: #ffc107;
}

.subhead {
    font-size: 13px;
}
